
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

body{
    background-color: black;
    min-width: 320px;
    font-family: 'Anton', sans-serif;
}
/* --- HEADER --- */
header h1{
    display: flex;
    justify-content: center;
    color: snow;
    font-family: 'Anton', sans-serif;
    font-size: 60px;
}
/* --- MAIN --- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
    margin-left: 250px;
    margin-right: 250px;
}

main p{
    color: snow;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
main div {
    color: snow;
    font-size: 20px;
}
.input-field {
    color: dimgray;
    background-color: darkgrey;
    border: solid 3px;
}
.dropdown {
    color: dimgray;
    background-color: darkgrey;
    border: solid 3px;
}
.rightTab {
    display: block;
}   

.labels {
    margin-top: 50px;
}

#comments {
    margin: 35px;
    width: 80%;
    border: solid 3px;
}

#submit {
    margin-left: 150px;
    width: 35%;
    margin-bottom: 35px;
}

/* --- FOOTER --- */