
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

body{
    background-color: blueviolet;
    min-width: 320px;
}
/* --- HEADER --- */
header h1{
    display: flex;
    justify-content: center;
    color: snow;
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
}
/* --- MAIN --- */
main p{
    color: snow;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
main div {
    color: snow;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.input-field {
    color: dimgray;
    background-color: darkgrey;
}
.dropdown {
    color: dimgray;
    background-color: darkgrey;
}
.rowTab {
    color: dimgray;
    background-color: darkgray;
    display: flex;
    justify-content: center;
}
/* --- FOOTER --- */